1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 

Ans: Values ('hello', -87.8, 6) & Expression (*,-, /, +)

2. What is the difference between string and variable?
Ans: 'Variable' stores the info whereas 'string' is a type of info/value stored in a variable.

# 3. Describe three different data types.
Ans:
1. List
2. String
3. Tuples

String: It is a ordered collection of one or more similar or different characters put in single, double or triple quote.
list: ordered collection of data of any combination put in square bracket.
Tuple: Ordered collection of data of any combination put in paranthesis. Tuple differs from list as tuple is immutable (unable to change once created)

4. What is an expression made up of? What do all expressions do?
Expressions is a combination of operators & operands and it is interpreted to produce some other value.
if there is more than one operator in an expression, precedence decides which operation will be performed first.

5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Statement executes something (spam=10)
An expression evaluates to some value (spam+10)

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [24]:
#6.Ans:
bacon = 22
bacon + 1

23

In [30]:
#7.What should the values of the following two terms be?
#'spam' + 'spamspam'
#'spam' * 3

In [27]:
'spam' * 3

'spamspamspam'

In [28]:
'spam' + 'spamspam'

'spamspamspam'

#8. Why is eggs a valid variable name while 100 is invalid?

Ans: 100 is 'literale ' which means constant so no value can be assigned to a literale.
where as eggs is a varaible & a value can be assigned.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
a=99.23
int(a), float(a), str(a)

In [38]:
a=99.23
int(a)

99

In [39]:
float(a)

99.23

In [40]:
str(a)

'99.23'

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans: concatenation of 'int' to 'str' or vice versa not possible so put 99 in quotes.

In [35]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [36]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'