#Q1:
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [ ]:
n=4
a='ineuron'

In [ ]:
for i in range(0,n):
    for j in range(0,i+1):
        print(a, end=' ')
    print()

In [ ]:
#Q2:
              ineuron       
       ineuron       ineuron       
ineuron       ineuron       ineuron       
       ineuron       ineuron       
              ineuron

In [ ]:
a='ineuron'
n=7 # number of rows
o=4 # Middle row

In [ ]:
for i in range(0,n):
    if i<o:
        for j in range(0,o-1-i):
            print(' '*len(a),end=''*len(a))
        for j in range(0,i+1):
            print(a,end=' '*len(a))
        print()
    else:
        for j in range(0,i-o+1):
            print(" "*len(a), end=''*len(a))
        for j in range(0,n-i):
            print(a,end=' '*len(a))
        print()

In [2]:
l=[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), {'K1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]

In [3]:
#Q3: Extract all list entity
for i in l:
    if type(i)==list:
        print(i)
        print()

[1, 2, 3, 4]

['ineuron', 'data science']

In [4]:
#Q4 Extract Dictionary
for i in l:
    if type(i)==dict:
        print(i)

{'K1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [5]:
#Q5 Extract tuples
for i in l:
    if type(i)==tuple:
        print(i)
        print()

(2, 3, 4, 5, 6)

(3, 4, 5, 6, 7)

In [6]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'K1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [7]:
#Q6: Extract all numeric data incuding keys,values
l1=[]
for i in l:
    if type(i)!=dict:
        for j in i:
            if str(j).isnumeric():
                print(j)
      
    elif type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                print(k)
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [8]:
#Q7:sum of all numerical data
l1=[]
l2=[]
l3=[]

for i in l:
    if type(i)!=dict:
        for j in i:
            if str(j).isnumeric():
                l1.append(j)
      
    elif type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                l2.append(k)
                l3.append(v)

In [9]:
l4=l1+l2+l3

In [10]:
l4

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7, 6, 8]

In [11]:
sum(l4)

156

In [12]:
#Q7:filter odd values out of list l4
l5=[]
for i in l4:
    if i%2 !=0:
        l5.append(i)

In [13]:
l5

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [14]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'K1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [27]:
#Q8:Extract ineuron from data
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            if k=='ineuron': 
                print(k)
            if v=='ineuron':
                print(v)
    elif type(i)!=dict:
        for j in i:
            if j=='ineuron':
                print(j)

ineuron
ineuron

In [9]:
#Q9: Number of occurennces of all data 

l=[[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), {'K1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]

In [53]:
l1=[]#dict keys
l2=[]#dict values
l3=[]#elements other than dict
l4=[]#Total list (l1+l2+l3)


for i in l:
    if type(i)==dict:
        for k,v in i.items():
            l1.append(k)
            l2.append(v)
    elif type(i)!=dict:
        for j in i:
            l3.append(j)
l4=l1+l2+l3 # unwrapped main list
s=list(set(l4)) # unique value list        

for i in s:
    print(l4.count(i),i, end= '   ')#occurences of each element
    print('\n')

1 kumar

1 1

4 3

1 k2

2 2

3 6

2 7

1 8

4 4

3 5

1 45

1 data science

2 ineuron

1 23

1 sudh

1 k3

1 K1

In [73]:
#Q10- Number of keys in dict element
l5=[]
for i in l:
    if type(i)==dict:
        for j in i:
            l5.append(j)# list for keys in dictionary
l5
len(l5)# Keys count

5

In [77]:
#Q11: filter all string data
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str: 
                print(k)
            if type(v)==str:
                print(v)
    elif type(i)!=dict:
        for j in i:
            if type(j)==str:
                print(j)

K1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [89]:
#Q12: Filter alpha numeric data
l4 #Main list un wrapped

for i in l4:
    if type(i)==str:
        if i.isalnum():
            print(i)

K1
k2
k3
sudh
ineuron
kumar
ineuron

In [113]:
#Q15: Unwrap list
l4

['K1',
 'k2',
 'k3',
 3,
 7,
 'sudh',
 'ineuron',
 'kumar',
 6,
 8,
 1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'ineuron',
 'data science']

In [200]:
#Q14: Multiplication of numeric value in the individualcollection  inside data set

for i in l:
    z=1
    if type(i)!=dict:
        
        for j in i:
            
            k=z
            if type(j)==int or type(j)==float:
                z=j*k
        print(z)
        print()

24

720

2520

20700

1